
/* media queries */

@media (max-width: 630px) {

    .hero .container {
      flex-direction: column;
      text-align: center;
    }

    .hero .container img {
      order: -1;
    }

    .form-group {
      display: block;
    }
}

@media (max-width: 920px) {
    nav {
      display: none;
    }

    .one, .two, .three {
      background-color: var(--bg);
      height: 3px;
      width: 70%;
      margin: 3px auto;
      transition-duration: 0.5s; /* Tempo de duração da tranformação do botão de opções */
    }

    .menu-toggle {
      width: 40px;
      height: 30px;
      margin-right: 20px;
      margin-top: 10px;
    }

    /* fullscreen */
    .menu-section.on {
      position: absolute;
      top:0;
      left:0; 
      width: 100vw;
      height: 100vh;
      background-color: #B56727;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .menu-section.on nav {
      display: block;
    }

    .menu-section.on .menu-toggle {
      position: absolute;
      right: 25px;
      top: 15px;
    }

    .menu-section.on .menu-toggle .one {
      transform: rotate(45deg) translate(0px, 7px);
    }

    .menu-section.on .menu-toggle .two {
      opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
      transform: rotate(-45deg) translate(2px, -9px);
    }

    .menu-section.on nav ul {
      text-align: center;
      display: block;
    }

    .menu-section.on nav ul a {
      transition-duration: 0.5s;
      font-size: 3rem;
      line-height: 4rem;
      display: block;
          
    }

    .checkboxinput {
      width: 60%;
      margin: auto 0;
      height: auto;
      margin-top: 30px;
    }

    .wrapper {
      position: absolute;
      top: 80px;
      left: 20px;
      animation: show_toast 1s ease forwards;
      }
      
      @keyframes show_toast {
      0%{
        transform: translateX(-100%);
      }
      40%{
        transform: translateX(10%);
      }
      80%, 100%{
        transform: translateX(-10px);
      }
      }
      
      .wrapper.hide {
      animation: hide_toast 5s ease forwards;
      }
      
      @keyframes hide_toast {
      0%{
        transform: translateX(10px);
      }
      10%{
        transform: translateX(-5%);
      }
      80%, 100% {
        opacity: 1;
        pointer-events: none;
        transform: translateX(-200%);
      }
      }

      .wrapper .toast{
      background: var(--a);
      padding: 10px 5px 5px 5px;
      border-left: 5px solid #2ecc71;
      box-shadow: 1px 7px 14px 5px rgba(0,0,0,0.15);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100px;
      }

      .wrapper .toast.offline{
      border-color: var(--a);
      }

      .toast .content{
      display: flex;
      align-items: center;
      }

      .content .icon{
        font-size: 25px;
        color: #FFF;
        height: 45px;
        width: 50px;
        text-align: center;
        line-height: 46px;
        border-radius: 100%;
        background: #2ecc71;
      }
      
      .toast.offline .content .icon{
        background: #ccc;
      }
      
      .content .details{
        margin-left: 15px;
      }
      
      .details span{
        font-size: 20px;
        font-weight: 500;
        color: var(--bg);
        font-weight: bold;
      }

      .details p{
        color: #878787;
      }

      .toast .close-icon{
        background-color: var(--a);
        font-size: 23px;
        cursor: pointer;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        transition: all 0.3s ease;
        box-shadow: 1px 7px 14px 5px rgba(0,0,0,0.15);
        color: var(--bg);
      }
      
    .close-icon:hover{
        background: var(--bg);
        color: var(--a);
      }     

    .rodapeopcoes {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      text-align: center;
      height: 700px;
    }

    #footer {
      width: 100%;
      height: 1100px;
      background-color: rgb(0, 0, 0);
      margin: 0; 
      box-shadow: 0px 0px 20px 0px var(--colorSw);
    }

    .newsletter-input {
      width: 100%;
    }
    .newsletter-button {
      width: 100%;
    }
}

@media (max-width: 768px) {
  .cursor {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
}
